.category-types{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-direction: row;
    padding-top: 40px;
}
.card{
    width: 318px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    
}
.casual-tenis{
    background-image: url(../images/categorias/tenis-casual.png);
}
.sport-tenis{
    background-image: url(../images/categorias/tenis-esportivo.jpg);
}
.modern-tenis{
    background-image: url(../images/categorias/tenis-moderno.jpg);
}
.futuristic-tenis{
    background-image: url(../images/categorias/tenis-futurista.jpg);
}
.card .overlay{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.251);
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    z-index: 1;
}
.card .btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
@media screen and (max-width: 1000px){
    .category-types{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 700px){
    .card{
        width: 100%;
    }
}