.hero-section{
    background-image: url(../images/hero/hero-bg.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #dedede;
    text-align: center;
    
}
.hero-content{
    width: 370px;
    margin-right: 15%;
}
.hero-content span{
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.hero-content h2{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 32px;
}
.hero-content span,
.hero-content h2{
    letter-spacing: 2px;
}
.hero-buttons{
    margin-top: 2.5rem;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
